// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-form {
    background-color: white;
    border-radius: 8px;
    border: 1px solid #dadce0;
    display: block;
    flex-shrink: 0;
    margin: 100px auto;
    min-height: 0;
    transition: .2s;
    width: 450px;
    font-size: 14px;
    line-height: 1.5;
}

.form-content {
    height: auto;
    min-height: 450px;
    overflow-y: auto;
    transition: .2s;
    padding: 48px 40px 36px;
    flex-grow: 1;
    overflow: hidden;
    box-sizing: inherit;
    text-align: center;
}

.signup {
    text-align: left;
}

.signup input {
    font-size: 14px;
    height: 36px;
    padding: 7px 11px;
}

.name-inputs {
    flex-direction: row;
    justify-content: space-between;
}

.name-inputs input {
    width: 175px;
}

.credentials input {
    width: 100%;
}

.form-content h2 {
    color: #202124;
    padding-bottom: 0;
    padding-top: 16px;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0;
    margin-top: 0;
}

.form-content h3 {
    color: #202124;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .1px;
    line-height: 1.5;
    padding-bottom: 0;
    padding-top: 8px;
    margin-bottom: 30px;
}

.form-content input {
    border: 1px solid #dadce0;
    border-radius: 4px;
    overflow: hidden;
    box-sizing: border-box;
    background: #fff;
    color: #202124;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.login input {
    font-size: 16px;
    width: 100%;
    padding: 13px 15px;
    font-weight: 400;
}

.form-content input:focus {
    outline: none;
    box-shadow: 0 0 0 1.8px #1a73e8;
}

.form-content button {
    border: none;
    background: #1a73e8;
    color: #fff;
    padding: 8px 0px;
    min-width: 88px;
    max-width: 300px;
    line-height: 20px;
    letter-spacing: 0.25px;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    white-space: normal;
    border-radius: 4px;
    text-transform: none;
    font-size: inherit;
}

.form-content button:hover {
    background: #4285f4;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 
        0 3px 1px -2px rgba(0,0,0,0.12), 
        0 1px 5px 0 rgba(0,0,0,0.2);
}

.flex {
    display: flex;
}

.email-container {
    margin: 8px auto;
    margin-bottom: 21px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
    min-width: 150px;
    border: 1px solid #dadce0;
    border-radius: 16px;
    color: #3c4043;
    letter-spacing: 0.25px;
    padding: 5px 7px 5px 5px;
    cursor: pointer;
}

.email-container p {
    text-decoration: none;
    font-weight: 500;
    color: #3c4043;
    margin: 0 5px;
}

.form-bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 29px;
}

.form-bottom a, .demo-login h5 {
    color: #1a73e8;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.25px;
    cursor: pointer;
}

.demo-login {
    flex-direction: column;
    align-items: flex-start;
    padding: 9px 0 3px 0;
    margin-top: 32px;
}

.demo-login p {
    font-size: 14px;
    color: #5f6368;
}

.form-content .form-error {
    border-color: #d93025;
}

.form-content .form-error:focus {
    outline: none;
    box-shadow: 0 0 0 1.2px #d93025;
}

.no-errors {
    opacity: 0;
    margin-top: 11px;
}

.errors {
    flex-direction: row;
    justify-content: flex-start;
    color: #d93025;
    margin-top: 4px;
}

.signup-errors {
    flex-direction: row;
    justify-content: flex-start;
    color: #d93025;
    margin: 4px 0px 10px 0px;
    font-size: 12px;
}

.signup-no-errors {
    opacity: 0;
    margin: 4px 0px 10px 0px;
    font-size: 12px;
}

.signup-errors svg, .signup-no-errors svg {
    margin-right: 8px;
}

.errors svg {
    margin: 3px 8px 0px 2px;
}

.logo {
    width: 100px;
    height: 25px;
    margin: 0 auto;
}