.comment-index {
    width: 100%;
    padding-bottom: 36px;
}

.comment-header {
    flex-direction: column;
    align-items: flex-start;
    margin: 24px 0 32px 0;
}

.comment-header h1 {
    font-size: 18px;
    font-weight: 400px;
    margin: 0 32px 24px 0;
    color: #030303;
}

.comment-form-container {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.open-form {
    width: 100%;
    flex-direction: row;
}

.comment-area {
    width: 100%;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 4px;
    background: transparent;
    resize: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #eeeeee;
}

.comment-area:focus {
    border-bottom: 2px solid hsla(0, 0%, 6.7%, 0.6);
    margin-bottom: -1px;
}

.comment-form-btns {
    flex-direction: row;
    align-self: flex-end;
}

.comment-form-btns button {
    height: 36px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.007px;
    text-align: center;
    border-radius: 2px;
    padding: 0 16px;
    margin-left: 8px;
    border: none;
    cursor: pointer;
}

.cancel-btn {
    background: transparent;
    color: #606060;
}

.comment-btn {
    background-color: #065fd4;
    color: #fff;
}

.reply-closed {
    display: none;
}

.comment {
    flex-direction: column;
    margin-bottom: 16px;
}

.comment-main {
    flex-direction: row;
}

.comment-content {
    flex-direction: column;
}

.comment-icon {
    font-size: 40px;
    margin-right: 16px;
}

.comment-info {
    flex-direction: row;
    align-items: center;
    margin-bottom: 2px;
}

.comment-info h4 {
    font-size: 15px;
    font-weight: bold;
    margin: 0 4px 2px 0;
    color: #030303;
}

.comment-info p {
    font-size: 13px;
    line-height: 15px;
    color: #606060;
}

.comment-body {
    font-size: 15px;
    line-height: 20px;
}

.likes-reply {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.likes-reply p {
    font-size: 14px;
    opacity: 0.5;
    color: #606060;
}

.likes-reply button {
    margin-top: 1px;
}

.reply-btn-transparent {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.007px;
    padding: 8px 16px;
    background: transparent;
    border: none;
    color: #5f5f5f;
    cursor: pointer;
}

.comment-footer {
    margin-left: 40px;
}

.show-replies {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    padding: 2px 0 10px 18px;
    color: #065fd4;
    cursor: pointer;
}

.show-replies svg {
    font-size: 16px;
    margin: 0;
}

.show-replies p {
    font-weight: bold;
    margin-left: 8px;
}

.reply-index {
    margin-left: 20px;
}

.reply-icon {
    font-size: 24px;
    margin-right: 16px;
}

.reply-area:focus {
    margin-bottom: 3px;
}