.sidenav-open {
    flex-direction: column;
    position: fixed;
    top: 55px;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 240px;
    background-color: #fff;
}

.sidenav-open li {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 40px;
    width: 100%;
    max-width: 192px;
    padding: 0 21px 0 27px;
    overflow: hidden;
    color: #030303;
    cursor: pointer;
}

.sidenav-open li:hover, .sidenav-links li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.sidenav-open svg {
    color: #606060;
}

.sidenav-open li:hover > .icon-container svg, .sidenav-open li:active > .icon-container svg, 
.sidenav-links li:hover > svg, .sidenav-links li:active > svg {
    color: #f00;
}

.sidenav-open p {
    margin: 2px 0 0 24px;
}

.sidenav-top, .sidenav-middle, .sidenav-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px 0;
}

.sidenav-middle {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-container {
    flex-direction: row;
    justify-content: center;
    height: 16px;
    width: 18px;
}

.signin-section {
    flex-direction: column;
    align-items: flex-start;
    padding: 4px 32px;
}

.signin-section h4 {
    color: #030303;
    font-size: 15px;
    line-height: 1.2rem;
    margin-bottom: 12px;
}

.sidenav-closed {
    position: fixed;
    top: 55px;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 72px;
    background-color: #fff;
    color: #030303;
}

.sidenav-links {
    flex-direction: column;
    margin-top: 4px;
}

.sidenav-links p {
    font-size: 10px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 4px;
}

.sidenav-links li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px 0 14px;
    cursor: pointer;
}

.sidenav-links svg {
    margin: 4px 0 10px 0;
    color: #606060;
}

.modal-child-2 {
    position: absolute;
    height: 100%;
}

.modal-sidenav {
    flex-direction: column;
    height: 100%;
    z-index: 50;
    top: 0;
    left: 0;
    outline: none;
}

.modal-sidenav-open {
    animation: openSideNav 0.25s;
}

.modal-sidenav-closed {
    animation: closeSideNav 0.25s;
}

.modal-sidenav-header {
    flex-direction: row;
    background-color: #fff;
    height: 54px;
    width: 225px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 15px;
}

.modal-sidenav-header button {
    height: 40px;
    width: 40px;
    padding: 8px;
    margin: 6px 17px 0 0;
    box-sizing: border-box;
    background: transparent;
    border: none;
    outline: none;
}

.modal-sidenav-header svg {
    height: 18px;
    width: 20px;
}

.modal-sidenav-header img {
    margin-top: 14px;
}

@keyframes openSideNav {
    from {
        transform: translate3d(-100%, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes closeSideNav {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(-100%, 0, 0);
    }
}