.video-index-container {
    flex-direction: column;
    position: absolute;
    top: 55px;
    left: 240px;
    width: calc(100% - 250px);
}

.row-title {
    align-self: flex-start;
    margin: 36px 0 24px 24px;
    font-size: 20px;
    font-weight: bold;
}

.video-index {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 24px;
}

/* .video-row {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    margin: 0 16px 16px 36px; 
} */

.video-container {
    margin: 0 16px 40px 0;
    width: calc(100% / 4.25);
}

.video-details {
    box-sizing: border-box;
    font-size: 12px;
}
